/*
    -----Solve UI-----
    Created by: DarkAB
    Website: https://darkab.eu/
    Instagram: @darkab.eu
    Twitter: @darkabeu

    -----How to add Solve to your website-----
    Add this link into <head> tag in your html document: <link rel="stylesheet" href="solve.css">
*/
/*-----------------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');

/* General */

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.page {
    margin: 20px;
}

/* Typeface */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

/* Links */

a {
    text-decoration: none;
    color: #047de5;
}

a:hover {
    text-decoration: none;
    color: #0062b8;
}

/* Buttons */

.btn-primary {
    color: white;
    background-color: #047de5;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
}

.btn-primary:hover {
    transition: 0.2s ease-in-out;
    background-color: #0062b8;
}

.btn-secondary {
    color: black;
    background-color: #dddddd;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
}

.btn-secondary:hover {
    transition: 0.2s ease-in-out;
    background-color: #cccccc;
}

/* Forms, Inputs */

input {
    padding: 10px 16px;
    border: 2px solid #24252A;
    border-radius: 6px;
    margin: 8px 0;
}

/* Table */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #444444;
}

th {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

th, td {
    padding: 5px 16px;
}

/* Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #24252A;
}

.navbar li,
.navbar a {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.navbar li:hover,
.navbar a:hover {
    opacity: 0.9;
    transition: all 0.4s ease 0s;
}

.navbar-links {
    list-style: none;
    margin-top: 10px;
}

.navbar-links li {
    display: inline-block;
    padding: 0px 20px;
}

/* Footer */

footer {
    width: 100%;
    background-color: #24252A;
}

footer p {
    padding: 15px 0;
    text-align: center;
    color: white;
}

/* Margins and paddings */

.m-10 {
    margin: 10px;
}

/* Centering */

.text-center {
    text-align: center;
}
